USE [master]
GO
/****** Object:  Database [SistemaPOS]    Script Date: 3/5/2026 13:37:23 ******/
CREATE DATABASE [SistemaPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaPOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaPOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaPOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaPOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaPOS]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [uniqueidentifier] NOT NULL,
	[codigo_barras] [varchar](100) NULL,
	[nombre] [varchar](255) NOT NULL,
	[precio_unitario] [decimal](12, 2) NOT NULL,
	[stock_actual] [int] NULL,
	[stock_minimo] [int] NULL,
	[categoria_id] [uniqueidentifier] NULL,
	[deleted_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_barras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_alertas_stock]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================
-- VISTA
-- =========================================

CREATE VIEW [dbo].[vista_alertas_stock] AS
SELECT id, nombre, stock_actual, stock_minimo
FROM productos
WHERE stock_actual <= stock_minimo
AND deleted_at IS NULL;
GO
/****** Object:  Table [dbo].[auditoria_logs]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria_logs](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[tabla_afectada] [varchar](100) NULL,
	[accion] [varchar](20) NULL,
	[valor_anterior] [nvarchar](max) NULL,
	[valor_nuevo] [nvarchar](max) NULL,
	[fecha_hora] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[caja_sesiones]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja_sesiones](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[monto_apertura] [decimal](12, 2) NOT NULL,
	[monto_cierre_sistema] [decimal](12, 2) NULL,
	[monto_cierre_fisico] [decimal](12, 2) NULL,
	[diferencia]  AS ([monto_cierre_fisico]-[monto_cierre_sistema]) PERSISTED,
	[abierta_at] [datetimeoffset](7) NULL,
	[cerrada_at] [datetimeoffset](7) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_movimientos]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_movimientos](
	[id] [uniqueidentifier] NOT NULL,
	[producto_id] [uniqueidentifier] NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[tipo] [varchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[justificacion] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [uniqueidentifier] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[rol_id] [uniqueidentifier] NULL,
	[activo] [bit] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta_detalles]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta_detalles](
	[id] [uniqueidentifier] NOT NULL,
	[venta_id] [uniqueidentifier] NULL,
	[producto_id] [uniqueidentifier] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario_historico] [decimal](12, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario_historico]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 3/5/2026 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [uniqueidentifier] NOT NULL,
	[folio_interno] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[caja_sesion_id] [uniqueidentifier] NULL,
	[total_neto] [decimal](12, 2) NOT NULL,
	[impuestos] [decimal](12, 2) NOT NULL,
	[total_final] [decimal](12, 2) NOT NULL,
	[metodo_pago] [varchar](50) NULL,
	[estado] [varchar](20) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[folio_interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_inventario_producto]    Script Date: 3/5/2026 13:37:23 ******/
CREATE NONCLUSTERED INDEX [idx_inventario_producto] ON [dbo].[inventario_movimientos]
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_producto_codigo]    Script Date: 3/5/2026 13:37:23 ******/
CREATE NONCLUSTERED INDEX [idx_producto_codigo] ON [dbo].[productos]
(
	[codigo_barras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_producto_nombre]    Script Date: 3/5/2026 13:37:23 ******/
CREATE NONCLUSTERED INDEX [idx_producto_nombre] ON [dbo].[productos]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_venta_fecha]    Script Date: 3/5/2026 13:37:23 ******/
CREATE NONCLUSTERED INDEX [idx_venta_fecha] ON [dbo].[ventas]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auditoria_logs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[auditoria_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[caja_sesiones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[caja_sesiones] ADD  DEFAULT (sysdatetimeoffset()) FOR [abierta_at]
GO
ALTER TABLE [dbo].[caja_sesiones] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[categorias] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[inventario_movimientos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[inventario_movimientos] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [stock_minimo]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[venta_detalles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT ('COMPLETADA') FOR [estado]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[auditoria_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[auditoria_logs] CHECK CONSTRAINT [FK_audit_usuario]
GO
ALTER TABLE [dbo].[caja_sesiones]  WITH CHECK ADD  CONSTRAINT [FK_caja_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[caja_sesiones] CHECK CONSTRAINT [FK_caja_usuario]
GO
ALTER TABLE [dbo].[inventario_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_mov_producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[inventario_movimientos] CHECK CONSTRAINT [FK_mov_producto]
GO
ALTER TABLE [dbo].[inventario_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_mov_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[inventario_movimientos] CHECK CONSTRAINT [FK_mov_usuario]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_categoria] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categorias] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_categoria]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
ALTER TABLE [dbo].[venta_detalles]  WITH CHECK ADD  CONSTRAINT [FK_detalle_producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[venta_detalles] CHECK CONSTRAINT [FK_detalle_producto]
GO
ALTER TABLE [dbo].[venta_detalles]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta] FOREIGN KEY([venta_id])
REFERENCES [dbo].[ventas] ([id])
GO
ALTER TABLE [dbo].[venta_detalles] CHECK CONSTRAINT [FK_detalle_venta]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_caja] FOREIGN KEY([caja_sesion_id])
REFERENCES [dbo].[caja_sesiones] ([id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_caja]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_usuario]
GO
ALTER TABLE [dbo].[inventario_movimientos]  WITH CHECK ADD CHECK  (([tipo]='DEVOLUCION' OR [tipo]='AJUSTE_ROBO' OR [tipo]='AJUSTE_MERMA' OR [tipo]='SALIDA' OR [tipo]='ENTRADA'))
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD CHECK  (([stock_actual]>=(0)))
GO
ALTER TABLE [dbo].[venta_detalles]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD CHECK  (([estado]='DEVUELTA' OR [estado]='ANULADA' OR [estado]='COMPLETADA'))
GO
USE [master]
GO
